.vscode/
.vs/
.idea/

bin/
obj/

*.user
*.suo
*.userosscache
*.sln.docstates

.env
appsettings.Development.json

*.nupkg
*.snupkg

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

node_modules/

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp

.DS_Store
.AppleDouble
.LSOverride