@model MSAuth.Models.EmployeePieChart
@{
    ViewBag.Title = "Employees Analytics";
}

<div class="row">
    <div class="col-12 col-md-6 col-lg-6">
        <div class="card">
            <div class="card-header">
                <h3>Departments</h3>
            </div>
            <div class="card-body">
                <canvas id="departmentsPieChart" width="200" height="200"></canvas>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-6">
        <div class="card">
            <div class="card-header">
                <h3>Employment Status</h3>
            </div>
            <div class="card-body">
                <canvas id="employmentStatusPieChart" width="200" height="200"></canvas>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var departmentsCtx = document.getElementById('departmentsPieChart').getContext('2d');
        var departmentsPieChart = new Chart(departmentsCtx, {
            type: 'pie',
            data: {
                labels: @Html.Raw(Json.Serialize(Model.Departments)),
                datasets: [{
                    data: @Html.Raw(Json.Serialize(Model.DepartmentsData)),
                    backgroundColor: ['#FF6384', '#36A2EB', '#FFCE56', '#4BC0C0'],
                    hoverBackgroundColor: ['#FF6384', '#36A2EB', '#FFCE56', '#4BC0C0']
                }]
            },
            options: {
                responsive: true,
                legend: {
                    position: 'bottom',
                },
            }
        });

        var employmentStatusCtx = document.getElementById('employmentStatusPieChart').getContext('2d');
        var employmentStatusPieChart = new Chart(employmentStatusCtx, {
            type: 'pie',
            data: {
                labels: @Html.Raw(Json.Serialize(Model.EmployementStatus)),
                datasets: [{
                    data: @Html.Raw(Json.Serialize(Model.EmployementStatusData)),
                    backgroundColor: ['#FF6384', '#36A2EB', '#FFCE56'],
                    hoverBackgroundColor: ['#FF6384', '#36A2EB', '#FFCE56']
                }]
            },
            options: {
                responsive: true,
                legend: {
                    position: 'bottom',
                },
            }
        });
    </script>
}
